.Cabecalho {
    display: flex;
    margin-top: 30px;
}

.Cabecalho h1 {
    display: flex;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.Faixa-01 {
    display: flex;
    font-size: 30px;
    align-items: center;
    flex-direction: row;
    text-align: center;
    width: 100%;
}

.Faixa-01 .Escritos {
    margin: 100px;
}

.Faixa-01 img {
    height: 500px;
}

.Faixa-01 .Button1 {
    background-color: #ffc038;
    padding: 15px;
    margin-top: 15px;
    width: 45%;
    border-radius: 10px;
    cursor: pointer
}

.Faixa-01 .Button2 {
    padding: 15px;
    margin-top: 1px;
    width: 45%;
    border-radius: 10px;
    cursor: pointer;
}

.Faixa-02 {
    display: flex;
    background-color: #ff0000;
    flex-direction: column;
    justify-content: end;
    height: 750px;
    width: 100%;
    position: relative;
}

.Faixa-02 .Text {
    align-self: center;
    width: 0%;
    padding-bottom: 50px;
}

.Faixa-02 .Bloco-Inteiro {
    background-color: #ff0000;
    display: flex;
    flex-direction: row;
}

.Faixa-02 .BlocoUnitario {
    display: flex;
    background-color: #00ffff;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    flex-direction: column;
    align-items: center;
    margin: 3px;
    height: 550px;
    width: 100%;
}

.Faixa-02 .CalcaImagem {
    background-color: #00ffff;
    display: flex;
    height: 550px;
    gap: 10px;
}

.Faixa-02 img {
    width: 235px;
}

.Faixa-02 h3 {
    background-color: #00ffff;
    padding: 10px;
    margin: 10px;
}

.Faixa-03 {
    display: flex;
    background-color: #ffd700;
    flex-direction: column;
    justify-content: end;
    height: 700px;
    width: 100%;
}

.Faixa-03 .Bloco-Inteiro {
    background-color: #ffd700;
    display: flex;
    flex-direction: row;
    padding-top: 70px;
}

.Faixa-03 .Text {
    align-self: center;
    width: 0%;
}

.Faixa-03 h3 {
    background-color: #ffdead;
    padding: 10px;
    margin: 10px;
}

.Faixa-03 .BlocoUnitario {
    background-color: #ffdead;
    display: flex;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    align-items: center;
    height: 550px;
    flex-direction: column;
    width: 100%;
    margin: 3px;
}

.Faixa-03 .Blazers {
    background-color: #ffdead;
    display: flex;
    height: 550px;
    gap: 10px;
}

.Faixa-03 img {
    width: 235px;
}

.Faixa-04 {
    display: flex;
    background-color: #008000;
    flex-direction: column;
    justify-content: end;
    height: 700px;
    width: 100%;
}

.Faixa-04 .Bloco-Inteiro {
    background-color: #008000;
    display: flex;
    flex-direction: row;
    padding-top: 70px;
}

.Faixa-04 .Text {
    align-self: center;
    width: 0%;
}

.Faixa-04 h3 {
    background-color: #084d6e;
    padding: 10px;
    margin: 10px;
}

.Faixa-04 .BlocoUnitario {
    display: flex;
    background-color: #084d6e;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    align-items: center;
    height: 550px;
    width: 100%;
    flex-direction: column;
    margin: 3px;
}

.Faixa-04 .Roupas {
    background-color: #084d6e;
    display: flex;
    height: 550px;
    gap: 10px;
}

.Faixa-04 img {
    width: 235px;
}

.Faixa-05 {
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 100%;
}

.Texto-Final {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Faixa-05 h1 {
    font-size: 59px;
}

.Faixa-05 div {
    display: flex;
    background-color: #ffffff;
}

.Faixa-05 input {
    border-radius: 10px;
    font-size: 25px;
    display: flex;
    padding: 10px;
    margin: 10px;
}

#email {
    width: 686px;
}

.Faixa-05 Button {
    background-color: #ffc038;
    padding-top: 1px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    width: 250px;
}

@media (max-width: 376px) {

    .Cabecalho h1 {
        width: 10%;
        padding: 0%;
        font-size: 12px;
    }

    .Faixa-01 {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
    }

    .Faixa-01 img {
        width: 100%;
    }

    .Faixa-01 .Button1 {
        background-color: #ffc038;
        padding: 10px;
        margin-top: 5px;
        width: 45%;
        border-radius: 10px;
        cursor: pointer
    }

    .Faixa-01 .Button2 {
        padding: 10px;
        margin-top: 10px;
        width: 45%;
        border-radius: 10px;
        cursor: pointer;
    }

    .Faixa-02 {
        display: flex;
        width: 100%;
    }

    .Faixa-02 .Text {
        align-self: center;
        width: 0%;
        padding-bottom: 50px;
        flex-direction: column;
    }

    .Faixa-02 .Bloco-Inteiro {
        background-color: #ff0000;
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }

    .Faixa-02 .BlocoUnitario {
        display: flex;
        background-color: #00ffff;
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
        flex-direction: column;
        align-items: center;
        margin: 3px;
        height: 550px;
        width: 90%;
    }

    .Faixa-02 .CalcaImagem {
        background-color: #00ffff;

    }

    .Faixa-02 img {
        margin: 4px;
        width: 45%;
    }

    .Faixa-02 h3 {
        background-color: #00ffff;
        padding: 10px;
        margin: 10px;
    }
}